.App {
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: #522834;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #522834;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #522834;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  color: #522834;
  font-weight: bold;
}

.link {
  font-size: calc(3px + 2vmin);
}

.App-header {
  background-color: #fffaec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #285246;
}

.border {
  padding: 1.25rem;
  margin: 1.25rem;
  border: 1px solid #285246;
  border-radius: 5px;
  background-color: #fffaec;
}

.pink {
  background-color: #5228347c;
}

.blue {
  background-color: #2852468c;
}

.Recommendation-button {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  padding: 1.25rem;
  border: 0px;
  border-radius: 5px;
  color: #fffaec;
  font-family: serif;
}
